<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
</head>
<body>
  <form action="{{ url_for('addrec') }}" method="POST">
      <table border="1">
          <tr>
             <p ><h3>Student Information</h3></p>
          </tr>
          <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
          </tr>
          <tr>
              <td>Address</td>
              <td><textarea name="addr"></textarea> </td>
          </tr>
          <tr>
              <td>City</td>
              <td><input type="text" name="city" /></td>
          </tr>
          <tr>
              <td>PINCODE</td>
              <td><input type="text" name="pin" /></td>
          </tr>
          <tr>
              <td><input type="submit"  value="Submit"/></td>
          </tr>
      </table>

  </form>
</body>
</html>